<div class="post content-container">
	<div class="content-header clearfix">
		<div class="header-border">
			<%= image_tag "border.svg" %>
		</div>
		<div class="header-title">
			<h1>What We Do</h1>
		</div>
	</div>
	<div class="content-body clearfix">
		<p>AfriQueer is an anonymous blog that explores the intersection of being African and being queer. </p>

		<p> AfriQueer was started as a response to the recent wave of homophobic laws passed in several African states. </p>

		<p>We believe that our African brothers and sisters are human first before they are queer or straight and this blog exists to demonstrate that humanity. </p>
	</div>
</div>
