
<div>AfriQueer is an anonymous blog that explores the intersection of being African and being queer. </div>
	
	
<div> AfriQueer was started as a response to the recent wave of homophobic laws passed in several African states. </div>

	
<div>We belive that our African brothers and sisters are human first before they are queer or straight and this blog exists to demonstrate that humanity. </div>