<div class="container">
	<div class="header">
		<%= image_tag "logo.svg" %>
	</div>
	<ul class="nav nav-justified" id="nav">
		<li><a href="">Home</a></li>
		<li><a href="">What We Do</a></li>
		<li><a href="">Submit An Entry</a></li>
		<li><a href="">Contact Us</a></li>
	</ul>
	<div class="post">
		<div class="post-header">
			<div class="header-icon">
				
			</div>
			<div class="header-border">
			</div>
			<div class="header-title">
				<h1>Post Title</h1>
			</div>
		</div>
		<div class="post-body">
		</div>
	</div>
</div>