<div class="post">
	<div class="post-header clearfix">
		<div class="header-icon">
			<%= image_tag "post.svg" %>
		</div>
		<div class="header-border">
			<%= image_tag "border.svg" %>
		</div>
		<div class="header-title">
			<h1><%= post.title %></h1>
		</div>
	</div>
	<div class="post-body clearfix">
		<p>
			<%= post.content %>
		</p>
	</div>
</div>
