<div class="content-container">
	<div class="content-header clearfix">
		<div class="header-border">
			<%= image_tag "border.svg" %>
		</div>
		<div class="header-title">
			<h1>Submit an Entry</h1>
		</div>
	</div>
	<div class="content-body">
		<p>Thank you for your submission!</p>
	</div>
</div>
