html, body {
	background-color: $black;
}

h1 {
	padding: 0;
}

.container {
	padding: 50px;
	background-color: white;
}

.header {
	text-align: center;
	img {
		margin-bottom: 50px;
		width: 33%;
	}
}

.content-container {
	border: 1px solid $black;
	margin: auto;
	margin-bottom: 50px;
	width: 90%;
	.content-header {
		background-color: $black;
		.header-icon {
			float: left;
			img {
				padding: 10px;
				width: 50px;
			}
		}
		.header-border {
			float: left;
			img {
				height: parent;
			}
		}
		.header-title {
			float: left;
			h1 {
				color: white;
				padding: 10px 20px;
				margin: 0;
				font-size: 28px;
				font-family: "Fredericka the Great", cursive ;
			}
		}
	}
	.content-body {
		margin: 20px;
	}
}

@media (max-width: 320px){
	.container {
		padding: 0;
	}
	.content-container {
		width: 100%;
		border: none;
		.content-header {
		}
	}
}

